@font-face {
    font-family: Bardon;
    src: url("./Koloche.otf");
}
body {
    padding: 20px 30px 20px 30px;
    background: rgba(0,0,0,.6);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    z-index: 10;
    box-sizing: border-box;
    /* font-family: sans-serif; */
    font-size: medium;
    position: relative;
    text-align: center;
    color: rgb(216, 224, 224);
  }
  /* Button CSS */
  a
  {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 10px;
      position: relative;
      padding: 12px 36px;
      margin: 10px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 2px;
      border-radius: 40px;
      overflow: hidden;
      background: linear-gradient(90deg,#3ba2ff,#3bfffd);
  }
  span
  {
      position: absolute;
      background: #fff;
      transform: translate(-50%,-50%);
      pointer-events: none;
      border-radius: 50%;
      animation: animate 1s linear infinite;
  }
  @keyframes animate
  {
      0%
      {
          width: 0px;
          height: 0px;
          opacity: 0.5;
      }
      100%
      {
          width: 500px;
          height: 500px;
          opacity: 0;
      }
  }
  /* cool input */
  .form__group {
      position: relative;
      padding: 15px 0 0;
      margin-top: 10px;
      width: 50%;
    }
    
    .form__field {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 2px solid #9b9b9b;
        outline: 0;
        font-size: 1.3rem;
        color: #fff;
        padding: 4px 0;
        background: transparent;
        transition: border-color 0.2s;

    }
    .form__field::placeholder {
        color: transparent;
    }
    .form__field:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
    
    .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #9b9b9b;
    }
    
    .form__field:focus {
        padding-bottom: 6px;
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right,#3ba2ff,#3bfffd);
        border-image-slice: 1;
    }
    .form__field:focus ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #3ba2ff;
        font-weight: 700;
    }
    


    /* reset input */
    .form__field:required, .form__field:invalid {
        box-shadow: none;
    }