@font-face {
    font-family: Bardon;
    src: url("./MyFont.woff2");
}
body {
    padding: 20px 30px 20px 30px;
    background: rgba(0,0,0,.6);
    border-radius: 10px;
    z-index: 10;
    box-sizing: border-box;
    font-family: 'Bardon', sans-serif;
    font-size: medium;
    position: relative;
    text-align: center;
  }